html {
  scroll-behavior: smooth;
 
}
.section{
  margin-left: 60px;
}
/*membership*/
.my-5{
  background-color: rgb(28, 39, 88);
  padding: 30px 90px;
  margin: 0px 10px;
}

.align-items-center{
  padding: 20px;
}

.content-box3{
  background-color: rgb(60, 60, 133);
  width: 140px;
}

.content-box3para2{
  padding: 0px;
}

img {
 
  height: auto;
}

/*boxes*/

.box {
  padding: 10px;
  text-align: center;
  border: 2px solid #1e456d; /* Blue border */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;

}
.mobile-box-container {
  display: flex;
  padding: 0px !important;
  border-bottom-color: 1px solid #cecece !important;
}
/*overview*/


.para p{
  width: 588px;
}

.overview-heading{
  padding-bottom: 20px;
}
.sub-heading {
  font-size: 32px;
  font-weight:700 ; 
}

/*benefits*/

.benifit-boxes{
  display: flex;
  height: 100%;
  gap: 10px;
}

.boxes{
  border: 1px solid #00355F;
  width: 210px;
  height: 100%;

}

.boxes h4,p{
  font-size: 16px;

}

.text{
  width: 245px;
height: 80px;
gap: 0px;
opacity: 0px;

}




/*deliveries*/
.delivary-heading{
  margin-bottom: 30px;
}
.points p{
  margin: 0px;
}
.points{
  border-bottom: 1px solid #D9D9D9;
  ;
  width: 60%;
  padding: 20px 0px;
}

.delivary-points{
  margin-right: 0px;
  border-bottom: 10px
}


/*testimonial*/



.test-boxes{
  display: flex;
}
.testimonial-box{
  display: flex;
  border:  1px solid #D9D9D9;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 200px;
  position: relative;
}
.test-heading{
  padding-bottom: 20px;
}
.test-boxes{
  display: flex;
  gap: 10px;
}

.test-para{
  margin: 20px;
}

.tests-img img{
  width: 50px;
  margin: 20px;
}



 body {
  overflow-x: hidden;
 }

/* .right-side .border {
  width: 100%;
}

.price{
  margin: 0px 120px;
} */ 

.custom-div {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.custom-div:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: bold;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
}

.disclaimer-list {
  list-style-type: circle; /* Display circles on the left */
  padding-left: 20px;      /* Adds space between the circle and the text */
  font-size: 16px;         /* Text size */
  color: #333;             /* Text color */
  line-height: 1.7;        /* Spacing between lines */
}

.disclaimer-list li {
  margin-bottom: 10px;     /* Adds space between each point */
}






/* added styles */




a {
  text-decoration: none !important;
  color: #000 !important;
}

.mobile-head-nav > * {
  width: 50%;
  padding: 0.4rem 0.5rem !important;
  text-wrap: nowrap;
  overflow-x: auto;
}

#tab-nav {
  text-wrap: nowrap;
  overflow-x: auto;
}
#tab-nav::-webkit-scrollbar {
  height: 0;
}

.search-container {
  border: 1px solid #E2E2E2;
  padding: 5px 13px;
  box-shadow: 0px 8px 16px #7F6AFF4D;
}
.search-container .search-image {
  opacity: 0.4;
  margin-left: 5px;
}
.search-container img {
  vertical-align: middle;
}
.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 6px;
  min-width: 100px;
  text-overflow: ellipsis;
}

.search-container :is(button, input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

.search-container .vl {
  border-left: 1px solid #E2E2E2;
  width: 1px;
  height: 48px;
  opacity: 0.3px;
  margin-right: 20px;
}

.search-container .country-select {
  display: flex;
  align-items: center;
}

.search-container .find-jobs-btn {
  background-color: #00355F;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  width: 150px;
  line-height: 50px;
  text-align: center;
  margin-left: 32px;
}

.search-container .find-jobs-btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 26%;
  height: 28px;
  background-color: red;
  transform: translateX(50%);
  width: 6px;
}

.dropdown-toggle::after {
  display: none !important;
}
.grow {
  transition: scale 0.05s;
}
.grow:hover {
  scale: 1.01;
}

.btn-orange-side {
  background-color: #003366;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  width: 150px;
  height: 45px;
  text-align: center;
}

.btn-orange-side::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  background-color: red;
  transform: translateX(50%);
  width: 6px;
}

.btn-normal {
  background-color: #fff;
  color: #003366;
  border: 2px solid currentColor;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  width: 150px;
  height: 45px;
  text-align: center;
}

.dropdown .show i {
  rotate: 180deg;
}
.dropdown .accordion-header {
  padding: 8px !important;
}

main > .navbar {
  background-color: rgb(240, 240, 243);
}


.scroll-bar::-webkit-scrollbar {
  width: 7px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #003366e4;
  border-radius: 1rem;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #003366;
  cursor: grab;
}

.scroll-bar::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.active {
  color: #000;
  background-color: #fff;
  border-bottom: 4px solid #003366;
  padding-bottom: 10px;
  font-family: navbar;
  font-weight: 600;
}

.content {
  height: 100dvh;
}
.content > aside {
  width: 29%; 
}
.content > section {
  width: 68%;
  background-color: #fff;
  position: relative;
}
.content> section:target {
  display: block !important;
}
.mobile-overlay {
  height: 30px;
  width: 130%;
  margin-left: -15%;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 0.5px solid #000;
}
/* .mobile-overlay > div {
  width: 22%;
  height: 8px;
  background-color: lightgray;
  border-radius: 1rem;
  margin: 0 auto;
} */
.mobile-overlay > a {
  font-size: 20px;
  color: #000;
  position: fixed;
  right: 5%;
  top: 1%;
  color: red !important;
  background-color: #fff;
  padding: 3px 7px;
  border-radius: 50%;
}

.expert-cards {
  box-shadow: 0 3px 10px #bdbdf7;
  cursor: pointer; 
  width: 97%;
}

.social-media {
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #9c9c9c;
  color: #f3f1f1 !important;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: #52a2f2 !important;
  background-color: #cecece;
}
.footer-new hr {
  background-color: #000;
  width: 100%;
  height: 2px;
  margin: -10px 0 20px !important;
}
.footer-section h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-section i {
  color: black;
}
.footer-section ul {
  transition: all 0.3s 0s ease-in-out;
  overflow-y: hidden;
}
.footer-section ul {
  max-height: 500px;
}
.footer-section .show i {
  rotate: 180deg;
}
.footer-section .show + ul {
  max-height: 300px;
}




@font-face {
  font-family: navbar;
  src: url(fonts/fonts/SharpSansDispNo2-Bold.otf);

}

@font-face {
  font-family: profilename;
  src: url(fonts/fonts/SharpSansDispNo2-Bold.woff2);
}

@font-face {
  font-family: viewmorefont;
  src: url(fonts/fonts/Muli-SemiBold.ttf);
}

@font-face {
  font-family: footerstyle;
  src: url(fonts/fonts/SharpSansDispNo2-Bold.woff2);
}

@font-face {
  font-family: navbar2;
  src: url(fonts/MuliBold-YzEVy.ttf);
}

@font-face {
  font-family: navbar3;
  src: url(fonts/MuliLight-lg9VZ.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  width: 100%;
}

header {
  background-color: #fff;
  margin: 0 auto;
}

.parentelement {
  display: flex;
  width: 90%;
}

.header-container {
  border-bottom: 2px solid #0000001a;
  height: 40px;
}

.header-container .logo-img {
  width: auto;
  height: 20px;
  margin-bottom: 12px;
}

nav,
.user-actions {
  display: flex;


}

.profile-details p {
  display: flex;
  align-items: center;
}

.profile-details .answer1 {
  margin-left: 7.5%;
  font-family: navbar;
  color: #000
}

.profile-details .answer2 {
  margin-left: 18%;
  font-family: navbar;
  color: #000
}

.profile-details .answer3 {

  margin-left: 11%;
  font-family: navbar;
  color: #000
}

.profile-details .answer4 {
  margin-left: 17.2%;
  font-family: navbar;
  color: #000
}

.profile-details .answer5 {
  margin-left: 9.2%;
  font-family: navbar;
  color: #000
}

.user-profile span {
  font-size: 14px;
  color: #8f8888;
  margin-bottom: 2px;
  font-family: navbar3;
}

.user-profile .down-arrow {
  margin-bottom: 12px;
}

nav ul {
  list-style-type: none;
  display: flex;
  font-family: navbar;
}


nav ul li {
  margin-left: 1px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 50;
  padding: 0px 10px;
  font-family: navbar3;
  display: inline-block;
  line-height: 1;
}

.user-actions {
  display: flex;
  align-items: center;
  margin-left: 135px;
  padding-bottom: 8px;
}

.user-actions .wallet img {
  height: 32px;
  width: 92px;
  margin-bottom: -4px;
}

.user-actions .notifications img {
  width: 22px;
  height: 22px;
  margin-bottom: -8px;
}

.wallet {
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.wallet-icon {
  margin-right: 5px;
}

.notifications {
  margin-right: 30px;
  position: relative;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff0000;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: -13px;

}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 40;
  margin-bottom: -4px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 2px 0;
}

/* Container for the progress circle and profile text */

.profile-completion {
  display: none;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Profile information text */
.profile-info h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.profile-info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #888;
}

/* Circular Progress Bar */
.circle-wrap {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#00b300 0% 70%, #e0e0e0 70% 100%);
  position: relative;
}

.inside-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #000;
}


main {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-info p {
  color: #666;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-family: navbar;
}







.buttons {
  display: flex;
  margin-top: 10px;
}



.btn-primary {
  background-color: #003366;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #003366;
  border: 1px solid #003366;
}



.section h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #003366;
}

.expertise-table {
  width: 100%;
  border-collapse: collapse;
}

.expertise-table th,
.expertise-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.expertise-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.experience-item {
  margin-bottom: 20px;
}

.experience-item h3 {
  margin-bottom: 5px;
}

.experience-item p {
  color: black;
  font-weight: 100;
}


.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.profile-cards {
  background-color: #00355F;
  padding: 20px;
  width: 348px;
  height: 556px;
  top: 107px;
  left: 1212px;
  border-radius: 0px;
}

.profile-cards h2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.profile-card-similarprofilies img {
  border-radius: 50%;
  margin-right: 15px;
  width: 60px;
  height: 60px;

}

.profile-card-info {
  display: inline-flex;
  flex-direction: column;
  line-height: 1.4;

}

.profile-card-info h3 {
  margin: 0;
  font-size: 14px;
  color: white;
}

.profile-card-info p {
  margin: 0;
  font-size: 12px;
  color: white;
}

.profile-card .profile-picture-container img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-right: 10px;
  top: 0;

}

.profile-card .profile-picture-container .check-icon {


  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px
}

.firstlelement {
  width: 100%;
}

.profile-card-similarprofilies img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 1024px;
}

.profile-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.check-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
}

.profile-name a {
  text-decoration: none;
  color: white;
}

.profile-name-location {
  text-align: center;
  font-family: navbar;
  margin-top: 0px;
}

.profile-name-location h2 {
  margin: 0 0 5px;
  font-size: 24px;
  padding-top: 40px;
}

.profile-name-location p {
  color: #666;
  margin-bottom: 10px;
}

.profile-info {
  flex: 1;
  min-width: 300px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;

}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-family: navbar;
}

.tag {
  padding: 5px 10px;
  border: 1px solid #9599A2;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #231F20;
  font-family: navbar3;
}

.profile-details {

  padding-bottom: 8px;
}

.profile-details p {

  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
}



.view-more {
  display: block;
  text-align: center;
  background-color: #ffffff;
  color: #003366;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  font-family: viewmorefont;
}

.newsletter-form {
  display: flex;
  margin-top: 10px;

}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
}

.newsletter-form button {
  padding: 8px 15px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  /* display:; */
  width: 360px;
  height: 44px;
  margin-left: 12px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.newsletter-form input[type="email"] {
  padding: 8px;
  border: 1px solid #cbcdd0;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.newsletter-form button {
  padding: 8px 15px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 44px;

  margin-left: 1px
}

.contact-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.contact-info p {
  padding-bottom: 1px;
  margin-left: -53px;
  line-height: 1.5;
}



.country-contact .contact-info {
  font-size: 14px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 25px;

}

.social-media a {
  margin-right: 15px;
  color: #01063a;
  text-decoration: none;
  font-size: 14px;
}

footer {
  margin: 0 auto;
}
.footer-container {
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer-section h3,
.footer-middle h3 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #003366;
  font-family: navbar;
}

.footer-section ul,
.country-contact {
  list-style: none;
  padding: 0;
}

.footer-section ul li,
.country-contact {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
.footer-new {
  margin-bottom: 20px;
}


.footer-sections {
  margin-bottom: 20px;
  color: #003366;
  font-size: 12px;
  width: 321px;
  border-radius: 0px;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  margin-top: 10px;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
  width: 290px;
  height: 100px !important;
  background-color: #d3d3d38f !important;
}

.newsletter-form button {
  padding: 5px 10px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  width: 290px;
  height: 52px;
}

.country-contact .contact-info {
  font-size: 14px;
}

.profile-info {
  flex: 1;
}

.profile-info h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-info p {
  color: #666;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -128px;
  font-family: navbar;
}

.tag {
  padding: 8px 16px 8px 16px;
  margin-right: 10px;
  font-family: navbar;
  margin-bottom: 10px;
  font-size: 12px;
}



.buttons {
  display: flex;
}

.profile-picture-container {
  position: relative;
  margin-right: 20px;
}


.profile-info {
  flex: 1;
}

.profile-info h2 {
  margin: 0 0 5px;
  font-size: 24px;
}

.profile-info>p {
  color: #666;
  margin-bottom: 10px;
}

.uppertag {
  padding-bottom: 1px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-family: navbar;
}

.tag {
  padding: 5px 10px;
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #231F20;




  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 12px;
}



.buttons {
  display: flex;
  gap: 10px;
}





footer {
  background-color: white;
  padding: 40px 0;
}
.footer-section {
  min-width: 150px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}

.newsletter-form {
  display: flex;
  margin-top: 10px;
}

.newsletter-form input[type="email"] {
  flex: 1;
  border: 1px solid #ccc;
}

.newsletter-form button {
  padding: 8px 15px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
}

.footer-middle {
  margin-bottom: 40px;
}
.country-contact {
  display: flex;
  align-items: center;
  gap: 1rem 1rem;    
  width: max-content;
}

.country-contact img {
  width: 24px;
  height: 16px;
  margin-right: 1rem;
  margin-top: -75px;
}

.contact-info {
  font-size: 12px;
}


.contact-info strong {
  display: block;
  margin-bottom: 5px;
  margin-left: -24px;
  font-size: 16px;
}

.social-media h3 {
  padding-right: 137px;
  font-size: 14px;
  margin-bottom: -35px;
  color: #015cb6;
  font-family: navbar;
}

.social-icons {
  display: inline-flex;
}


.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 10px;
}

.footer-links li {
  margin-right: 25px;
}

.footer-links li a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}

.copyright {
  font-size: 12px;
  color: #666;

}

.outerexper {
  padding-top: 1px;
}

.outerexper-responsive {
  display: none;
}

.innerdetails {
  padding-top: 10px;
}



.profile-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;

}

.check-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
}

.premium-badge {
  position: absolute;
  bottom: 0;
  left: 27%;
  transform: translateX(-10%);
  background-color: #f5a623;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #003366;
  font-family: navbar3;
  margin-bottom: -9%;
  width: 130px;
  height: 30px;
  justify-content: center;
  font-weight: 600;

}

.profile-name-location {
  text-align: center;
  font-family: navbar;
}

.profile-name-location h2 {
  margin: 0 0 5px;
  font-size: 24px;
  padding-top: 40px;
}

.profile-name-location p {
  color: #666;
  font-family: navbar;
  margin-bottom: 10px;
}

.profile-info {
  flex: 1;
  min-width: 300px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-family: navbar;
  margin-top: 14px
}

.tag {
  padding: 5px 10px;
  border: 1px solid #9599A2;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #231F20;
  font-family: navbar3;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #003366;
  color: #fff;
  width: 194px;
  height: 48px;

}

.smallbox {
  background-color: red;
  width: 4px;
  height: 33px;
  border-radius: 20%;
  margin-top: 8px;
  margin-left: -12px;
}

.btn-secondary {
  background-color: #fff;
  color: #003366;
  border: 1px solid #003366;
  height: 48px;
  width: 178px;
  padding: 8px 16px 8px 16px;
}

.highlight-badge {
  margin-top: -7px;
  right: 7px;
  background-color: #f5a623;
  color: #003366;
  padding: 5px 8px 6px 8px;
  border-radius: 0px;
  font-size: 16px;
  font-family: navbar2;
  height: 38px;
  margin-left: 200px;
  justify-content: center;
  text-align: center;
  width: 210px;
}


.section {
  flex: 1;
  padding: 20px;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  border-left: 4px solid #ff0000;
  padding-left: 10px;
  padding-top: 10px;
  font-family: navbar;
}

.expertise-item,
.experience-item {
  margin-bottom: 15px;
}

.expertise-item {
  display: flex;
  flex-wrap: wrap;
}

.expertise-label {
  font-weight: 40px;
  width: 120px;
  margin-left: 12px;
  margin-right: 10px;
  color: grey;
  font-family: navbar2;
}

.expertise-value {
  width: calc(25% - 72px);

  margin-left: 10px;
  color: black;
  font-family: navbar2;
  font-size: 16px;
}

.experience-item h3 {
  font-size: 16px;
  margin: 0 0 5px 15px;
  font-family: navbar;
}

.experience-item p {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 100;

}

.empty-section {
  color: #888;
  font-style: italic;
}

.card {
  background-color: #003366;
  color: white;
  border-radius: 0px;
  padding: 20px;
  width: 321px;
  margin-bottom: 20px;
  margin-top: -4.5px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: navbar;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  font-weight: normal;
  margin-bottom: 3px;
  font-size: 13px;

}

.profile-title,
.profile-experience {
  font-size: 12px;
  opacity: 0.8;
}

.view-more {
  background-color: white;
  border: 1px solid white;
  color: #003366;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.secondelement .profile {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.secondelement .profile:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 255px;
  height: 1px;
  background-color: #9599A2;
}


.profile-card-responsive {
  display: none;
}


.profile-card {
  margin-top: -4px;
  box-shadow: 0 0 5px 2px #d4d4d4ab;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f8fa;
  min-height: 50px;
  margin-bottom: -5rem;
  padding: 0 1rem;
}

.accordion-header {
  padding: 10px 0;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.content .accordion-header .accordion-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  width: 4px;
  height: 40%;
  background-color: #FF0000;
}

.accordion-content {
  display: none;
  padding: 10px 0;
}

.active+.accordion-content {
  display: block;
}

.accordion-item {
  border-width: 2px !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  width: 20%;
}

th {
  padding: 10px;
  text-align: left;
  font-family: navbar2;
  font-size: 12px;
  color: #666
}

td {
  font-family: navbar;
}

.experience-item {
  margin-bottom: 15px;
}

.experience-item h3 {
  margin-bottom: 5px;
  color: #000;
}

.experience-item p {
  margin: 2px 15px;
}

.h4 {
  display: none;
}

.vertical-line {
  width: 1.3px;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* manu added  */

.process {
  display: flex;           
  align-items: flex-start;    
  margin-bottom: 20px;    
  
}

.process img {
  width: 50px;             
  height: auto;  
  background-color: transparent;         
}
.process p {
  color: white;
 
}

.me-3 {
  margin-right: 15px;   
}
.textContainer {
  width: 233px;
}
.textContainer p {
  margin: 0px !important;
}
.BenefitBoxes {
  padding: 20px 5px;
  width: 250px;
  border: 1px solid #00355F
}
.sub-heading {
  font-size: 32px;
  font-weight: 700;
}
.BenefitBoxes img{
  background: transparent;
  width: 60px;
  height: 60px;
}

.benefitP {
  font-weight: 700;
  font-size: 20px;
}
.sale p{
  color: white;
}
.listIcon li{
  font-weight: 540;
}

.activeContainer {
  background-color: #00355F !important;
  color: white !important;
}
.cursor-pointer {
  cursor: pointer;
}
.mBox {
  
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 30px 0px;
  justify-content: space-between;
}
.mBox p{
  color: #000;
  margin: 0px;
}
.margin-90{
  margin: 0px 20px;
}
.m-borderColor {
  border-bottom: 1px solid #9599A2;
}
.margin-0{
  margin: 0px ;
}
.mobileActive p{
  font-weight: bold !important;
}